extends layout
block content
    h1 Admin page
    .container-fluid
        .row
            .col-sm
                #wedstrijden_adminList
                    table#adminTable.table.table-striped
                        thead
                            th Thuis
                            th Gasten
                            th Punten Thuis
                            th Punten Gasten
                            th Start
                            th Eind
                        tbody