extends layout
block content
    .container-fluid
        .row
            .col-sm
                h2 Speelt nu:
                p *de score zal niet live zijn, we doen ons uiterste best deze zo spoedig mogelijk bij te werken
                #wedstrijden_nuList
                    #table-responsive
                        table.table.table-striped
                            thead
                                th Poule
                                th Thuis
                                th Gasten
                                th Stand
                                th Dag
                                th Start
                                th Eind
                                th Hal
                            tbody

            .col-sm
                h2 Speelt straks:
                #wedstrijden_straksList
                    table.table.table-striped
                        thead
                            th Poule
                            th Thuis
                            th Gasten
                            th Stand
                            th Dag
                            th Start
                            th Eind
                            th Hal
                        tbody

        // /USER LIST

    // /WRAPPER