extends layout
    div.container
      div.row
        div.col
          h2 Test dit werkt wel goed trouwens
        div.col
          // Wedstrijden list
          h2 Alle Wedstrijden
          #wedstrijdenList
            table.table
              thead
                th Dag
                th Poule
                th Begin Tijd
                th Eind Tijd
                th Veld
                th Thuis
                th Gasten
                th Punten Thuis
                th Punten Gasten
              tbody
      // /USER LIST

    // /WRAPPER