extends layout

block content
  h1= title
  p Welcome to our test

  // Wrapper
  #wrapper

    // Wedstrijden list
    h2 Alle Wedstrijden
    #wedstrijdenList
      table.table
        thead
          th Dag
          th Poule
          th Begin Tijd
          th Eind Tijd
          th Veld
          th Thuis
          th Gasten
          th Punten Thuis
          th Punten Gasten
        tbody
    // /USER LIST

  // /WRAPPER