doctype html
html
  head
    title= 'Handbalscore'
    meta(name="mobile-web-app-capable", content="yes")
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-reboot.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap-grid.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
    script(src='/javascripts/index_page.js')
