table {
    /*display: block;*/
    /*overflow-y: scroll;*/
    /*font-size: 25px;*/
}
#adminTable {
    font-size: 25px;
}

.minusbtn {
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    background-color: #f44336;
}

.plusbtn {
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    background-color: #4CAF50;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Poule"; }
    td:nth-of-type(2):before { content: "Thuis"; }
    td:nth-of-type(3):before { content: "Gasten"; }
    td:nth-of-type(4):before { content: "Punten Thuis"; }
    td:nth-of-type(5):before { content: "Punten Gasten"; }
    td:nth-of-type(6):before { content: "Dag"; }
    td:nth-of-type(7):before { content: "Start"; }
    td:nth-of-type(8):before { content: "Eind"; }
    td:nth-of-type(9):before { content: "Veld"; }
}
