table {
    /*display: block;*/
    /*overflow-y: scroll;*/

}
#adminTable {
    font-size: 25px;
}

.minusbtn {
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    background-color: #f44336;
}

.plusbtn {
    border: none;
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    background-color: #4CAF50;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    /*Hide Poule*/
    table{
        font-size: 12px;
    }
    th:nth-of-type(1) {display: none;}
    td:nth-of-type(1) {display: none;}

    /*Hide Dag*/
    th:nth-of-type(6) {display: none;}
    td:nth-of-type(6) {display: none;}

    /*Hide Veld*/
    th:nth-of-type(9) {display: none;}
    td:nth-of-type(9) {display: none;}

}
